.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: absolute;
    height: 100vh;
    width: 200px;
}

.header {
    display: absolute;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}