.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 150px;
    height: 100%;

    border-radius: 50px;
    box-shadow: var(--shadow-card);
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-card-border);

    box-sizing: border-box;
    padding: 5px 10px 5px 10px;

    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .name {
        font-size: 14px;
    }

    .role {
        font-size: 10px;
        color: var(--color-card-text-sec)
    }

}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logout {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 5px;
    transition: 0.3s ease;

    g {
        stroke: var(--color-danger);
    }

    &:hover {
        background-color: var(--color-danger);

        g {
            stroke: var(--color-card-bg);

        }
    }
}