* {
    color: var(--color-text-main);

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-bg-main);

}

a {
    text-decoration: none;
}

:root {
    /* Background */

    /* Principal */
    --color-bg-main: #EFEFEF;
    /* Cards */
    --color-bg-card: #FFFFFF;
    /* Card Shadow */
    --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.08);

    /* Cores */

    /* Verde  */
    --color-green: #16A34A;

    /* Verde hover */
    --color-green-hover: #15803D;

    /* Texto */

    /* Principal */
    --color-text-main: #000000;
    /* Secundário */
    --color-text-sec: #64748B;

    /* Status */
    
    /* Perigo */
    --color-danger: #DC2626;
    /* Alerta */
    --color-warning: #D97706;
    /* Sucesso */
    --color-success: #16A34A;

    /* Botão */
    --color-button-black-bg: #000000;
    --color-button-black-text: #FFFFFF;
}