.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    height: 100%;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
    gap: 15px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 75px;
        transition: 0.3s ease;


        path,
        circle {
            stroke: var(--color-card-text-main);
            fill: none;
        }
    }

    .activeIcon {
        path {
            stroke: var(--color-item-active-bg);
            fill: var(--color-item-active-bg);
        }

        circle {
            stroke: var(--color-item-active-text);
        }

    }

}

nav {
    ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;

        li {
            padding: 5px 10px 5px 10px;
            border-radius: 25px;

            text-align: center;

            transition: 0.3s ease;

            .item {
                letter-spacing: 2px;
            }

            &:hover {
                color: var(--color-item-active-bg);
            }
        }

        .active {
            border: none;
            background-color: var(--color-item-active-bg);

            .item {
                color: var(--color-item-active-text);
            }
        }
    }
}

li:hover {
    transform: scale(1.1);
}

.icon:hover {
    transform: scale(1.2);
}

.notActive.item {
    color: var(--color-item-active-bg);
}

nav ul .notWorker {
    display: none;
}