.book {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 100%;

    transition: 0.3s ease;

    img {
        width: 70%;
        aspect-ratio: 2/3;
        object-fit: cover;
        border-radius: 10px;
    }

    h1 {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        margin: 0px;
        font-size: 12px;
        text-align: center;

    }

}

.book:hover {
    transform: scale(1.1);  
}